* html body {
  box-sizing: border-box;
  direction: rtl;
  text-align: center;
}
body {
  margin: 8px 120px 0px 8px;
}

@font-face {
  font-family: yekan;
  src: url("Shabnam-Light.eot");
  src: url("Shabnam-Light.eot?#iefix") format("Shabnam-Light-opentype"),
    url("Shabnam-Light.woff") format("woff"),
    url("Shabnam-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.Year-Month {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-self: flex-end;
  justify-content: space-between;
  width: 80%;
  /* margin: 0 0 0 35px; */
  padding: 0 10px 0 30px;
  text-align: center;
}

h1 {
  font-size: 3.5vw;
  color: brown;
  font-family: Shabnam;
}
h5 {
  font-size: 1.4vw;
  color: gray;
  font-family: Shabnam;
}

.Days-Of-The-Week {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 20px 0px;
  padding: 0px 35px 0px 35px;
  background-color: brown;
  color: white;
}

.Friday {
  color: yellow;
  width: 100px;
  display: inline-block;
  font-size: 1.9vw;
  margin: 5px 5px;
  text-align: center;
  font-family: yekan;
}

.Week {
  width: 100px;
  display: inline-block;
  font-size: 1.9vw;
  margin: 5px 5px;
  text-align: center;
  font-family: yekan;
}

.Container {
  font-family: Shabnam;
  width: 86%;
  display: grid;
  grid-template-columns: repeat(7, 75px);
  grid-template-rows: repeat(5, 47px);
  padding: 0px 0px 0px 2px;
  gap: 3.7em;
  /* margin-top: 90px;
  margin-bottom: 5px; */
  /* margin-left: 5px; */
}

.item {
  display: flex;
  /* align-items: baseline; */
  justify-content: flex-end;
  font-size: 25px;
  position: relative;
  top: auto;
}

/* .item {
  border: 1px solid white;
  position: relative;
  top: auto;
  bottom: 1px;
  right: 1vw;
}  */

#Friday::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2%;
  /* height: 0; */
  left: 20px;
  top: -19px;
  border-left: 40px solid transparent;
  border-top: 40px solid brown;
  border-right: 0px solid transparent;
  border-bottom: 40px solid transparent;
  rotate: -90deg;
}

#Friday {
  color: red;
}

.span-top-friday {
  display: flex;
  font-size: 1vw;
  position: absolute;
  top: 3px;
  left: 5px;
  color: white;
  /* line-height: 2em; */
  /* font-weight: 100; */
  /* justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
  text-align: justify; */
  /* width: 1px; */
  /* height: 70px; */
}

.span-top {
  display: flex;
  font-size: 1vw;
  /* line-height: 12px; */
  position: absolute;
  top: 3px;
  left: 5px;
  color: black;
  /* font-weight: 100; */
  /* justify-content: space-evenly; */
  /* margin: 0px;
  padding: 0px; */
  /* text-align: justify; */
  /* width: 1px;
  height: 70px; */
}

.span-bottom {
  display: flex;
  font-size: 1vw;
  position: absolute;
  top: 33px;
  left: 10px;
  color: black;
  /* line-height: 1em; */
  /* font-weight: 100; */
  /* justify-content: space-evenly; */
  /* margin: 0px;
  padding: 0px; */
  /* text-align: justify; */
  /* width: 1px;
  height: 70px; */
}

#Triangle::before {
  content: "";
  position: absolute;
  /* top: 0px;
  left: 0px; */
  width: 2%;
  height: 0;
  left: 20px;
  top: -19px;
  border-left: 40px solid transparent;
  border-top: 40px solid rgba(192, 190, 190, 0.779);
  border-right: 0px solid transparent;
  border-bottom: 40px solid transparent;
  rotate: -90deg;
}

.text {
  font-family: Shabnam;
  direction: rtl;
  width: 83%;
  padding: 1px 50px 1px 10px;
  text-align: justify;
}
p {
  font-size: 1vw;
}

span {
  color: tomato;
}

/* @media screen and (max-width: 992px) {
  .Year-Month {
    width: 95%;
    transition: 0.5s all ease-in-out;
  }
  Days-Of-The-Week {
    width: 85%;
  }

  .text {
    width: 95%;
    transition: 0.5s all ease-in-out;
  }
   .Container {
    width: 90%;
      }
}

@media screen and (max-width: 768px) {
  .Year-Month {
    width: 70%;
    transition: 0.8s all ease-in-out;
  }
  Days-Of-The-Week {
    width: 70%;
  }
  .text {
    width: 70%;
    transition: 0.8s all ease-in-out;
  }
  .Container {
    width: 50%;
    gap: 50%;
      }
 } 

 @media screen and (max-width: 576px) {
  .Year-Month {
    width: 95%;
    transition: 0.8s all ease-in-out;
  }
  Days-Of-The-Week {
    width: 90%;
  }

  .text {
    width: 100vw;
    transition: 0.8s all ease-in-out;
   padding: 1px 62px;
  text-align: justify;
  position: relative;
  top: auto;
  bottom: 120px;
  }

  .Container {
    width: 50%;
    font-family: Shabnam;
    display: grid;
    grid-template-columns: repeat(7, 35px);
    grid-template-rows: repeat(5, 47px);
    padding: 0px;
    gap: 55px;
    margin: 85px;
    transition: 0.8s all ease-in-out;
  }
     }  */
