.calender {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  order: 1;
  align-self: flex-end;
  justify-content: space-evenly;
  line-height: 7em;
  margin: 0;
  padding: 0;
}
h1 {
  font: 200;
  font-size: 300%;
  color: brown;
  font-family: IRANYekan, sans-serif;
}
h5 {
  font: 900;
  color: gray;
  font-family: IRANYekan, sans-serif;
}
