.calendar-row {
  padding: 10px;
  border: 2px solid royalblue;
  display: inline-block;
  width: 200px;
  height: 200px;
  direction: rtl;
  font-size: 22px;
  font-weight: 800;
}
.calendar-row::before {
            /* ! before به معنای یک استایل برای یک المنت که وجود ندارد میباشد */

            /* ! استایل عادی شبیه زمانی که به دایو استایل میدهیم */

            /* ************** این پراپرتی برای بیفور ضرروی میباشد تا کار کند ****************** */
            content: "";

            /* مابقی استایل ها */
            display: block;
            width: 20px;
            height: 20px;
            background-color: gray;

            /* نگه داشتنش در بالا سمت چپ  */
            position: absolute;
            top: 20px;
            left: 20px;

            /* تبدیل مربع ما به مثلث */
            width: 0;
            height: 0;
            background-color: transparent;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 25px solid gray;
        }




/* .calender {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  order: 1;
  align-self: flex-end;
  justify-content: space-evenly;
  line-height: 7em;
  margin: 0;
  padding: 0;
}
h1 {
  font: 200;
  font-size: 300%;
  color: brown;
  font-family: IRANYekan, sans-serif;
}
h5 {
  font: 900;
  color: gray;
  font-family: IRANYekan, sans-serif;
} */
